<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Contracter Register</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../static/style/register.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
           

            <!-- Signup Form -->

            <div class="form signup">
                <div class="form-content">
                    <header>Signup as Contracter</header>
                    <form action="/cont_register" method="POST">
                        <div class="field input-field">
                            <input type="text" placeholder="Name" class="input", name="name">
                        </div>

                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input", name="email">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Create password" class="password", name="password">
                        </div>

                        <div class="field button-field">
                            <button>Signup</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Already have an account? <a href="/cont_login" class="forgot-pass">Login</a></span>
                    </div>
                </div>

                
            </div>
        </section>

        <!-- JavaScript -->
        <script src="../static/JS/form.js"></script>
    </body>
</html>