<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/aayushchouhan24/sheryjs@main/dist/Shery.css" />
    <link rel="stylesheet" href="../static/style/Landing Page/style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="imgcontainer ">
            <div class="limg img">
                <img src="../static/images/Landing Page/irham-setyaki-iKeD4mGMPq0-unsplash.jpg" alt="">
            </div>
            <div class="rimg img">
                <img src="../static/images/Landing Page/talha-ahmed-98WNSs1IRSI-unsplash.jpg" alt="">
            </div>
        </div>
        <div class="wrap">
            <nav>
                <button><a href="/work_login">Login</a></button>
                <h3>WORK<span class="white"> HOLIC.</span></h3>
                <button><a href="/work_register">Sign Up</a></button>
            </nav>
            <div class="left">
            <div class="content">
                <h1>LET'S</h1><br>
                <h1>CLICK <span class="bor">YOUR</span> </h1><br>
                <h1>SUCCESS </h1><br>
            </div>
        </div>
       
        </div>
    </div>
    <!--  Gsap is needed for Basic Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

<!-- Scroll Trigger is needed for Scroll Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

<!-- Three.js is needed for 3d Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>

<!-- ControlKit is needed for Debug Panel -->
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>

    <script  type="text/javascript"  src="https://cdn.jsdelivr.net/gh/aayushchouhan24/sheryjs@main/dist/Shery.js"></script>
    <script src="../static/JS/Landing Page/script.js"></script>
</body>
</html>