<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Job Creation</title>

        <!-- CSS -->
        <link rel="stylesheet" href="../static/style/form_style.css">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>CREATE A NEW JOB</header>
                    <form action="#">
                        <div class="field input-field">
                            <input type="job-title" placeholder="Job Title" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="desc" placeholder="Job Description" class="input">
                          
                        </div>
                        <div class="field input-field">
                            <input type="req" placeholder="Job Requirements" class="input">
                      
                        </div>


                        <div class="field button-field">
                            <button>Create Job</button>
                        </div>
                    </form>

                </div>
            </div>
        </section>

        <!-- JavaScript -->
        <script src="../static/JS/form.js"></script>
    </body>
</html>