<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/aayushchouhan24/sheryjs@main/dist/Shery.css" />
    <link rel="stylesheet" href="../static/style/page2.css">
</head>
<body>
    <!-- <div class="img images">
        <img src="./tim-foster-qefCF3r4Eoc-unsplash.jpg" alt="">
        <img src="./pranav-nahata-lRYgPGmPx5U-unsplash.jpg" alt="">
    </div> -->
    <img clas="img"src="../static/images/Worker Dashboard/hunter-haley-s8OO2-t-HmQ-unsplash.jpg" alt="">
    <div class="main">
        <div class="front">
            <nav>
                <h3>WORKHOLIC</h3>
            </nav>
            <div class="content">
            <div class="side">
                <button id="opt"><a href="/logout">LOG OUT</a></button>
                <button id="opt"><a href="/job_list">NEW JOBS</a></button>
                <button id="opt">SEARCH JOBS</button>
                <button id="opt"><a href="/about">ABOUT US</a></button>
                <button id="opt">FEATURED JOBS</button>
                <button id="opt">SKILL CENTRE</button>
            </div>
                <div class="text">
                    <div class="grp">
                        <h1>Hey {{user.name}}!</h1><br>
                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis nam voluptates earum laborum consequatur obcaecati dolores id ab laboriosam itaque perspiciatis, maiores maxime?</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--  Gsap is needed for Basic Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

<!-- Scroll Trigger is needed for Scroll Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

<!-- Three.js is needed for 3d Effects -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>

<!-- ControlKit is needed for Debug Panel -->
<script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
<script  type="text/javascript"  src="https://unpkg.com/sheryjs/dist/Shery.js"></script>
    <script src="../static/JS/script2.js"></script>
</body>
</html>