/* Add your CSS in form_style.css */
body {
    font-family: "gilroy";
    font-weight: 600;
    background-image: url(../images/banner/banner.webp);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: #fff;
    width: 400px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-field {
    margin-bottom: 15px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.password {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

.form-link {
    text-align: center;
    margin-top: 20px;
}

.link {
    color: #007BFF;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}